<form action="/productos" method="POST" class="productForm containerForm">
    <div class="form-group">
        <label for="title" class="formLabel">Nombre:</label>
        <input type="text" name="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="price" class="formLabel">Precio:</label>
        <input type="text" name="price" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="thumbnail" class="formLabel">Thumbnail:</label>
        <input type="text" name="thumbnail" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Agregar producto</button>
</form>